.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination {
	margin: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.title {
	display: flex;
	align-items: center;

	button {
		font-size: 0.4em;
		padding: 4px 14px 3px 14px;
		background-color: rgba(10, 10, 10, 0.5);
	}
}

.overflowMode {
	display: flex;
	max-width: 1100px;
	overflow-x: scroll;
	flex-direction: row;
	padding: 12px 0 20px 3px;

	img {
		border-radius: 12px;
	}

	h1 {
		margin-bottom: 0;
	}
}