.movie {
	display: flex;
	margin: 15px;
	width: 480px;
	border-radius: 12px;
	overflow: hidden;
	background-size: cover;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	border: 2px solid rgb(34, 34, 34);
	transition: all 0.3s;

	img {
		width: 150px;
		margin-right: 20px;
		border-radius: 12px 0 0 12px;
	}

	span {
		font-size: smaller;
	}
}

.movie:hover {
	border: 2px solid darkorange;
	box-shadow: 0 0 25px darkorange;
}

.movie:active {
	border: 2px solid rgb(255, 198, 128);
	transition: all 0s;
}

.header,
.vote {
	display: flex;
	align-items: center;
}

.backdrop {
	display: flex;
	width: 100%;
	backdrop-filter: blur(100px);
	background-color: rgba(0, 0, 0, 0.7);

	a {
		display: flex;
	}
}