.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1100px;
}

.pagination {
	margin: 25px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 14px 0;
	width: 97%;

	h1 {
		display: flex;
	}
}

@media only screen and (max-width: 600px) {
	.header {
		justify-content: center;
	}
}