@font-face {
	font-family: 'Thunder';
	font-style: normal;
	src: url('../../public/fonts/Thunder-BoldLC.woff2') format('woff2');
	src: local(''),
		url('../../public/fonts/Thunder-BoldLC.woff2') format('woff2'),
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

html {
	background-color: rgb(16, 16, 16);
}

body {
	margin: 0;
	font-family: 'Roboto',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgb(233, 233, 233);
}

a {
	text-decoration: none;
	color: inherit;
}

.MuiRating-root {
	color: darkorange !important;
}

.MuiRating-iconEmpty {
	color: rgb(80, 80, 80) !important;
}

.MuiPaginationItem-root {
	color: white !important;
}

.MuiInput-root:after {
	border-bottom: 2px solid darkorange !important
}

.MuiInput-root:before {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}