@font-face {
	font-family: 'Thunder';
	font-style: normal;
	src: url('../../public/fonts/Thunder-BoldLC.woff2') format('woff2');
}

html {
	background-color: rgb(11, 10, 10);
	overflow-y: scroll;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgb(233, 233, 233);
}

a {
	text-decoration: none;
	color: inherit;
}

/* MUI Overrides */
.MuiRating-root {
	color: darkorange !important;
}

.MuiRating-iconEmpty {
	color: rgb(80, 80, 80) !important;
}

.MuiPaginationItem-root {
	color: white !important;
}

.MuiInput-root {
	transition: all 0.25s;
}

.MuiInput-root:hover {
	border-radius: 100px !important;
	background-color: rgba(255, 140, 0, 0.05) !important;
}

.MuiInput-root:focus-within {
	border-radius: 100px !important;
	background-color: rgba(255, 140, 0, 0.05) !important;
}

.MuiInput-root:before {
	border-bottom: 1px solid transparent !important;
	width: 94% !important;
	right: 3% !important;
	left: 3% !important;
}

.MuiInput-root:after {
	border: 1px solid darkorange !important;
	border-bottom: 1px solid transparent !important;
	width: 94% !important;
	right: 3% !important;
	left: 3% !important;
}

.MuiLinearProgress-root {
	background-color: rgb(66, 66, 66) !important;
}

.MuiButton-root {
	border-radius: 50px !important;
}

.MuiButton-outlined {
	border: 2px solid rgb(177, 97, 0) !important;
	background-color: rgba(10, 10, 10, 0.5) !important;
}

.MuiButton-outlined:hover {
	background-color: rgba(61, 33, 0, 0.8) !important;
	border: 2px solid rgb(216, 119, 0) !important;
}

.MuiChip-outlined {
	margin: 15px 0;
	color: rgb(245, 245, 245) !important;
	border: 2px solid rgb(102, 102, 102) !important;
	background-color: rgba(10, 10, 10, 0.5) !important;
}

/* Scrollbar  */
::-webkit-scrollbar-thumb {
	background: rgba(100, 100, 100, 0.7);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 140, 0, 0.7);
}

::-webkit-scrollbar-thumb:active {
	background: darkorange;
}

::-webkit-scrollbar {
	width: 0;
	height: 10px;
}