.movie {
	display: flex;
	margin: 15px;
	width: 480px;
	border-radius: 12px;
	overflow: hidden;
	background-size: cover;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);

	img {
		width: 150px;
		margin-right: 20px;
		border-radius: 12px 0 0 12px;
	}

	span {
		font-size: smaller;
	}
}

.header,
.vote {
	display: flex;
	align-items: center;
}

.backdrop {
	display: flex;
	width: 100%;
	backdrop-filter: blur(100px);
	background-color: rgba(0, 0, 0, 0.7);

	a {
		display: flex;
	}
}