.header {
	width: 100%;
	height: 5em;
	margin: 0;

	.navbar {
		position: fixed;
		width: 100%;
		background-color: dodgerblue;
		color: white;

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 1.5em;
		}
	}
}